body {
  font-family: "Urbanist", sans-serif;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  background-color: #777;
  color: #ffffff;
}

a {
  color: #ffffff;
  text-decoration: none;
}
a:hover {
  color: #dddddd;
}
header {
  position: fixed;
  left: 20px;
  top: 20px;
}
header h1 {
  font-size: 24px;
  margin-bottom: 5px;
}

section {
  background-image: url(../images/1.jpg);
  background-size: cover;
  height: 100vh;
  background-attachment: fixed;
}
.img2 {
  background-image: url(../images/2.jpg);
}
.img3 {
  background-image: url(../images/3.jpg);
}
.img4 {
  background-image: url(../images/4.jpg);
}
.img5 {
  background-image: url(../images/5.jpg);
}
footer {
  position: fixed;
  bottom: 20px;
  left: 20px;
}
footer a {
  margin-right: 5px;
}
